apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: supabase-db-pvc
  namespace: ams-gla
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: supabase-storage-pvc
  namespace: ams-gla
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual
