apiVersion: apps/v1
kind: Deployment
metadata:
  name: collector
  labels:
    app: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: collector
  template:
    metadata:
      labels:
        app: collector
    spec:
      containers:
        - name: collector
          image: tonrepo/collector:latest
          env:
            - name: DATABASE_URL
              value: "postgres://user:password@postgres-service:5432/crypto_db"
